/* --- Estilos personalizados Biblioteca Metrópolis --- */

body {
    background-color: #f8f9fa;
}

h1, h2, h3, .navbar-brand {
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border-radius: 12px;
    border: 1px solid #e0e0e0;
}

.btn-primary {
    background-color: #004AAD;
    border-color: #004AAD;
}

    .btn-primary:hover {
        background-color: #003A89;
    }

footer {
    background-color: #f1f1f1;
    color: #666;
    font-size: 0.9rem;
}
