<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BibliotecaMetropolis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BibliotecaMetropolis.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Views/Shared/_Layout.cshtml -->
<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-3">
    <div class="container">
      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BibliotecaMetropolis</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" asp-controller="Recursos" asp-action="Buscar">Búsqueda</a></li>
          <li class="nav-item"><a class="nav-link" asp-controller="Recursos" asp-action="PorTipo">Por Tipo</a></li>
          <li class="nav-item"><a class="nav-link" asp-controller="Materiales" asp-action="Index">Materiales</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - BibliotecaMetropolis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
