USE [master]
GO
/****** Object:  Database [BibliotecaMetropolisBD]    Script Date: 22/10/2025 17:22:11 ******/
CREATE DATABASE [BibliotecaMetropolisBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotecaMetropolisBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BibliotecaMetropolisBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BibliotecaMetropolisBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BibliotecaMetropolisBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotecaMetropolisBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BibliotecaMetropolisBD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/10/2025 17:22:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 22/10/2025 17:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](100) NOT NULL,
	[Apellidos] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Autor] PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutoresRecursos]    Script Date: 22/10/2025 17:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoresRecursos](
	[IdRec] [int] NOT NULL,
	[IdAutor] [int] NOT NULL,
	[EsPrincipal] [bit] NOT NULL,
 CONSTRAINT [PK_AutoresRecursos] PRIMARY KEY CLUSTERED 
(
	[IdRec] ASC,
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 22/10/2025 17:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEdit] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](300) NOT NULL,
	[CorreoContacto] [nvarchar](150) NULL,
	[Telefono] [nvarchar](20) NULL,
	[SitioWeb] [nvarchar](200) NULL,
 CONSTRAINT [PK_Editorial] PRIMARY KEY CLUSTERED 
(
	[IdEdit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 22/10/2025 17:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[IdPais] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recurso]    Script Date: 22/10/2025 17:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recurso](
	[IdRec] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[AnnoPublic] [int] NOT NULL,
	[Edicion] [nvarchar](50) NULL,
	[PalabrasBusqueda] [nvarchar](300) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[CantidadUnidades] [int] NOT NULL,
	[PrecioIndividual] [decimal](10, 2) NOT NULL,
	[IdPais] [int] NOT NULL,
	[IdTipoR] [int] NOT NULL,
	[IdEdit] [int] NOT NULL,
 CONSTRAINT [PK_Recurso] PRIMARY KEY CLUSTERED 
(
	[IdRec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoRecurso]    Script Date: 22/10/2025 17:22:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoRecurso](
	[IdTipoR] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
 CONSTRAINT [PK_TipoRecurso] PRIMARY KEY CLUSTERED 
(
	[IdTipoR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AutoresRecursos_IdAutor]    Script Date: 22/10/2025 17:22:12 ******/
CREATE NONCLUSTERED INDEX [IX_AutoresRecursos_IdAutor] ON [dbo].[AutoresRecursos]
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recurso_IdEdit]    Script Date: 22/10/2025 17:22:12 ******/
CREATE NONCLUSTERED INDEX [IX_Recurso_IdEdit] ON [dbo].[Recurso]
(
	[IdEdit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recurso_IdPais]    Script Date: 22/10/2025 17:22:12 ******/
CREATE NONCLUSTERED INDEX [IX_Recurso_IdPais] ON [dbo].[Recurso]
(
	[IdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Recurso_IdTipoR]    Script Date: 22/10/2025 17:22:12 ******/
CREATE NONCLUSTERED INDEX [IX_Recurso_IdTipoR] ON [dbo].[Recurso]
(
	[IdTipoR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AutoresRecursos]  WITH CHECK ADD  CONSTRAINT [FK_AutoresRecursos_Autor_IdAutor] FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AutoresRecursos] CHECK CONSTRAINT [FK_AutoresRecursos_Autor_IdAutor]
GO
ALTER TABLE [dbo].[AutoresRecursos]  WITH CHECK ADD  CONSTRAINT [FK_AutoresRecursos_Recurso_IdRec] FOREIGN KEY([IdRec])
REFERENCES [dbo].[Recurso] ([IdRec])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AutoresRecursos] CHECK CONSTRAINT [FK_AutoresRecursos_Recurso_IdRec]
GO
ALTER TABLE [dbo].[Recurso]  WITH CHECK ADD  CONSTRAINT [FK_Recurso_Editorial_IdEdit] FOREIGN KEY([IdEdit])
REFERENCES [dbo].[Editorial] ([IdEdit])
GO
ALTER TABLE [dbo].[Recurso] CHECK CONSTRAINT [FK_Recurso_Editorial_IdEdit]
GO
ALTER TABLE [dbo].[Recurso]  WITH CHECK ADD  CONSTRAINT [FK_Recurso_Pais_IdPais] FOREIGN KEY([IdPais])
REFERENCES [dbo].[Pais] ([IdPais])
GO
ALTER TABLE [dbo].[Recurso] CHECK CONSTRAINT [FK_Recurso_Pais_IdPais]
GO
ALTER TABLE [dbo].[Recurso]  WITH CHECK ADD  CONSTRAINT [FK_Recurso_TipoRecurso_IdTipoR] FOREIGN KEY([IdTipoR])
REFERENCES [dbo].[TipoRecurso] ([IdTipoR])
GO
ALTER TABLE [dbo].[Recurso] CHECK CONSTRAINT [FK_Recurso_TipoRecurso_IdTipoR]
GO
USE [master]
GO
